body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  width: 100%;
}

thead td {
  font-weight: bold;
}

th,
td {
  border: 1px solid gray;
  padding: 0.2rem;
  text-align: center;
}

#months {
  height: 30px;
  width: 400px;
  display: flex;
  flex-direction: row;
}

#categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#months > div,
#categories > div {
  flex: 1 1 30px;
  background-color: wheat;
  border: solid 0.5px transparent;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  user-select: none;
  margin: 2px 2px;
}

#categories > div {
  flex: 0 1 90px;
}

#months > div.selected,
#categories > div.selected {
  background-color: rgb(12, 140, 245);
  color: white;
}

#workbench {
  float: left;
  width: 60%;
  margin: 0 10;
}

#table {
  float: left;
  width: 40%;
  height: 100vh;
  overflow-y: scroll;
  margin: 0 10;
}